<header class="header">
  <div class="header-container">

    <div class="header-left">
      <div class="logo">
        <img ngSrc="logoMaestraTere_d08txo.png" alt="logo" width="40" height="40" priority>
      </div>
      <a routerLink="/" class="brand">Maestra Tere</a>
    </div>

    <button class="menu-btn" (click)="menuOpen = !menuOpen">☰</button>

    <nav class="header-center" [class.open]="menuOpen">
      <a routerLink="/">Inicio</a>
      <a routerLink="/">Tienda</a>
      <a routerLink="/">Sobre Mi</a>
      @if(isLogin){
      <a routerLink="/">Mi Biblioteca</a>
      }
      <a routerLink="/" class="mobile-login">Iniciar Sesión</a>
    </nav>

    <div class="header-rigth desktop-login">
      <a routerLink="/">Iniciar Sesión</a>
    </div>

  </div>
</header>