<footer class="footer">
  <div class="footer-content">

    <div class="footer-left">
      <div class="left-top">
        <div class="logo">
          <img ngSrc="logoMaestraTere_d08txo.png"
            alt="logo" fill priority placeholder>
        </div>
        <p>Maestra Tere</p>
      </div>
      <p>Creando futuro, un recurso a la vez.</p>
    </div>

    <div class="footer-center">
      <a routerLink="/">Términos y condiciones</a>
      <a routerLink="/">Política de Privacidad</a>
      <a routerLink="/">Ayuda</a>
    </div>

    <div class="footer-right">
      <a href="https://www.facebook.com/people/Maestra-Tere/100064912004353/" target="_blank" class="icon-facebook">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>

      <a href="https://wa.me/tu-numero" target="_blank" class="icon-whatsapp">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Maestra Tere. Todos los derechos reservados.</p>
  </div>
</footer>